In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import warnings

In [2]:
#Loading the dataset
df=pd.read_csv('creditcard.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
#no. of missing values in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit transactions and fraudulent transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unbalanced

0--> normal transaction |
 1--> fraudulent transactions

In [8]:
#seperating the data for analysis
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [9]:
print(legit.shape)

(284315, 31)

In [10]:
print(fraud.shape)

(492, 31)

In [11]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling:

build a dataset containing similar distributions of normal transactions and fraudulent transactions

number of fraud transactions=492

In [14]:
legit_sample=legit.sample(n=492)

In [15]:
#concatenationg 2 dataframes
new=pd.concat([legit_sample,fraud], axis=0)

In [16]:
new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
249610,154495.0,2.057026,0.076048,-1.848581,0.215190,0.635682,-0.343538,0.058275,-0.050670,0.299220,...,-0.340421,-0.924022,0.282413,0.092689,-0.246270,0.178638,-0.068868,-0.044892,2.69,0
1420,1097.0,-1.453940,-0.654311,2.621222,0.683139,1.035517,0.935950,-0.131482,0.474140,0.549894,...,-0.194863,-0.326458,0.150213,-0.303973,-0.008453,-0.681772,-0.039138,-0.100309,55.94,0
112841,72825.0,1.235439,0.247645,0.646655,0.699740,-0.651399,-1.182687,0.062108,-0.220098,0.040409,...,-0.236759,-0.694352,0.177518,0.703228,0.169498,0.074625,-0.029570,0.022237,2.69,0
151304,95300.0,-0.354216,1.193045,0.224017,-0.242087,-0.041323,-1.261796,0.604900,0.133774,1.035748,...,-0.326791,-0.669254,0.229253,0.329889,-0.551894,0.081165,0.093771,0.032784,18.49,0
115989,74100.0,-1.059604,0.947141,2.219119,0.966400,-0.783509,0.634371,-0.516474,0.946895,-0.131289,...,0.108968,0.458150,-0.084810,0.225782,-0.111930,-0.309434,0.299657,0.105358,10.00,0

In [17]:
new['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94084.209350,0.042740,-0.065177,0.078050,0.030247,0.035404,-0.001502,0.040585,-0.005722,-0.013092,...,-0.020573,0.018345,0.007031,0.015172,-0.012077,-0.047051,-0.006975,0.004062,-0.008925,92.890163
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
#splitting the data into features and targets
X=new.drop(columns='Class', axis=1)
Y=new['Class']

In [20]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
249610,154495.0,2.057026,0.076048,-1.848581,0.215190,0.635682,-0.343538,0.058275,-0.050670,0.299220,...,-0.147047,-0.340421,-0.924022,0.282413,0.092689,-0.246270,0.178638,-0.068868,-0.044892,2.69
1420,1097.0,-1.453940,-0.654311,2.621222,0.683139,1.035517,0.935950,-0.131482,0.474140,0.549894,...,0.187537,-0.194863,-0.326458,0.150213,-0.303973,-0.008453,-0.681772,-0.039138,-0.100309,55.94
112841,72825.0,1.235439,0.247645,0.646655,0.699740,-0.651399,-1.182687,0.062108,-0.220098,0.040409,...,-0.109602,-0.236759,-0.694352,0.177518,0.703228,0.169498,0.074625,-0.029570,0.022237,2.69
151304,95300.0,-0.354216,1.193045,0.224017,-0.242087,-0.041323,-1.261796,0.604900,0.133774,1.035748,...,-0.177857,-0.326791,-0.669254,0.229253,0.329889,-0.551894,0.081165,0.093771,0.032784,18.49
115989,74100.0,-1.059604,0.947141,2.219119,0.966400,-0.783509,0.634371,-0.516474,0.946895,-0.131289,...,0.025095,0.108968,0.458150,-0.084810,0.225782,-0.111930,-0.309434,0.299657,0.105358,10.00

In [21]:
Y.head()

249610    0
1420      0
112841    0
151304    0
115989    0
Name: Class, dtype: int64

In [22]:
#splitting the data into training data and test data
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [24]:
#model training
model=LogisticRegression()

In [25]:
#training the logistic regression model with training data
model.fit(x_train, y_train)

LogisticRegression()

In [29]:
# model evaluation
# accuracy score
x_train_pred=model.predict(x_train)
train_data_accuracy=accuracy_score(x_train_pred,y_train)

In [31]:
print('Accuracy on training data: ', train_data_accuracy)

Accuracy on training data:  0.9428208386277002

In [32]:
x_test_pred=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_pred, y_test)

In [33]:
print('Accuracy of testing data: ',test_data_accuracy)

Accuracy of testing data:  0.9238578680203046